# Data
data/*.csv

# Python
venv/
.venv/
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Secrets                                                                                                                              
kaggle.json 